@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-main-spacing {
  @apply max-w-[1600px] mx-auto;
}

.btn {
  @apply rounded-[3px] h-full min-h-[35px] font-normal;
}

.input {
  @apply rounded-[3px] h-full min-h-[35px];
}

.navItem {
  @apply hover:text-primary;
}
.active {
  @apply underline bg-none;
}
.text-heading-custom {
  @apply text-4xl;
}

.animate-gradient {
  background-size: 300%;
  -webkit-animation: animatedgradient 20s ease infinite alternate;
  -moz-animation: animatedgradient 20s ease infinite alternate;
  animation: animatedgradient 20s ease infinite alternate;
}

.animate-gradient-banner-home {
  background-size: 125%;
  -webkit-animation: animatedgradient 30s ease infinite alternate;
  -moz-animation: animatedgradient 30s ease infinite alternate;
  animation: animatedgradient 30s ease infinite alternate;
}
.animate-gradient-banner-home2 {
  /* background-size: 100%; */
  -webkit-animation: animatedgradient 30s ease infinite alternate;
  -moz-animation: animatedgradient 30s ease infinite alternate;
  animation: animatedgradient 30s ease infinite alternate;
}
